<% content_for :index_header_body do %>
  <%= dropdown_select_form url: artists_path,
    id: 'by_status',
    select_options: Artist.statuses.keys.to_a.collect{ |x| [x.titleize, x] },
    title: 'All Statuses' %>
<% end %>
<%= render 'admin/headers/index', records: @artists, model_name: 'Artist' %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= table_sorter title: 'ID', path: :artists_path, scope: :by_id, default_order: :desc %></th>
        <th><%= table_sorter title: 'Slug', path: :artists_path, scope: :by_slug, default_order: :asc %></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Bio</th>
        <th><%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :artists_path, scope: :by_created_at, default_order: :desc %></th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :artists_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= status_indicator artist %></td>
          <td><%= artist.id %></td>
          <td><%= artist.slug %></td>
          <td><%= artist.first_name %></td>
          <td><%= artist.last_name %></td>
          <td><%= artist.bio %></td>
          <!-- <td><%#= User.find(artist.versions.last&.version_author)&.display_name if artist.versions.last&.version_author %></td> -->
          <td><%= artist.created_at.to_formatted_s(:short) %></td>
          <td><%= artist.updated_at.to_formatted_s(:short) %></td>
          <td width="1"><%= link_to 'Edit', edit_artist_path(artist), class: 'btn btn-xs btn-primary', role: 'button' %></td>
          <td width="1"><%= link_to 'Show', show_artist_path(artist), class: 'btn btn-xs btn-info', role: 'button' %></td>
          <!-- <td width="1"><%#= link_to 'Versions', artist_versions_path(artist), class: 'btn btn-xs btn-warning', role: 'button' %></td> -->
          <td width="1"><%= link_to 'Destroy', artist, method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @artists %>
