<%= simple_form_for(@artwork) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-heading">
          <h3 class="panel-title">
            Metadata
            <button type="button" class="btn btn-default btn-xs pull-right" data-collapse-trigger>
              <div class="glyphicon glyphicon-minus"></div>
            </button>
          </h3>
        </div>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.input :date %>
                <%= remote_association f, :artists, class: 'Artist', scope: 'name_or_id_like' %>
                <%= remote_association f, :exhibitions, class: 'Exhibition', scope: 'title_or_id_like' %>
                <%= f.input :status, as: :select, collection: Artwork.statuses.keys.to_a, include_blank: false %>
                <%= f.input :slug %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
              <div class="col-sm-6">
                <%= f.association :featured_image, as: :image %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render 'admin/blocks/block_layout', f: f, block_types: @block_types %>

      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>
