<p>Find me in app/views/forest/artworks/show.html.erb</p>

<% cache @artwork do %>
  <%# content_for :page_description, @artwork.description if @artwork.try(:description).present? %>
  <%# content_for :page_featured_image, @artwork.featured_image.attachment.url(:large) if @artwork.try(:featured_image).present? %>

  <%= render 'artwork', artwork: @artwork %>

  <b>Artists</b>
  <%= render partial: 'artists/artist', collection: @artwork.artists %>
  <b>Exhibitions</b>
  <%= render partial: 'exhibitions/exhibition', collection: @artwork.exhibitions %>

  <p>
    <b>Status:</b>
    <%= @artwork.status %>
  </p>

  <%= render partial: 'blocks/show', collection: @artwork.blocks, as: 'block' %>
<% end %>
